.center-form {
    left      : 50%;
    top       : 50%;
    position  : absolute;
    transform : translate(-50%, -50%);
}

.fixed-width-span {
    display: inline-block; /* Stellt sicher, dass die width-Eigenschaft auf das span-Element angewendet werden kann */
    width: 150px;         /* Setzt eine feste Breite von 150 Pixel f체r das Element */
    overflow: hidden;     /* Versteckt jeden Inhalt, der 체ber die Grenzen des Elements hinausgeht */
    text-overflow: ellipsis; /* Zeigt '...' an, wenn der Inhalt 체ber die Breite des Elements hinausgeht */
    white-space: nowrap;  /* Verhindert, dass der Inhalt des Elements in die n채chste Zeile umbricht */
}

.login-form {
    width: 340px;
    margin: 50px auto;
  	font-size: 15px;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}




